@use "sass:math";

// Source: https://css-tricks.com/snippets/sass/px-to-em-functions/
@function rem($pixels, $context: 16) {
	@return (math.div($pixels, $context)) * 1rem;
}

@mixin stroke($width, $color) {
	$shadow: ();
	@for $i from -$width through $width {
	  $shadow: append($shadow,#{$width}px #{$i}px $color, comma);
	  $shadow: append($shadow,#{-$width}px #{$i}px $color, comma);
	  $shadow: append($shadow,#{$i}px #{$width}px $color, comma);
	  $shadow: append($shadow,#{$i}px #{-$width}px $color, comma);
	}
	text-shadow: $shadow;
  }