html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--pinkish);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}
