@use '../util' as *;

button, .button {
	display: inline-block;
	cursor: pointer;
	color: var(--white);
	font-size: var(--font-md);
	font-weight: 500;

	border-color: var(--white);
	border-style: solid;
	border-width: 3px;
	border-radius: 15px;

	padding: 10px 40px;
	transition: all 0.2s linear;

    background: transparent;

	&.pinkish:hover{
		color: var(--pinkish);
        background: var(--white);
	}

	&.red:hover{
		color: var(--red);
        background: var(--white);
	}

	&.yellow:hover{
		color: var(--yellow);
        background: var(--white);
	}
}