@use "../util" as *;

.cta {
  padding: var(--spacing-md-sm);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  flex-direction: column;
  background-color: var(--red);

  @include breakpoint(large) {
    flex-direction: row;
  }

  h1 {
    text-align: center;
    color: var(--red);

    margin-bottom: var(--spacing-sm);

    font-size: 9vw;
    @include breakpoint(medium) {
      font-size: 6vw;
    }
    @include breakpoint(large) {
      font-size: 4vw;
      margin-bottom: 0;
      text-align: left;
    }
  }
}
